In [2]:
# Import / install relevant Python packages
import numpy as np
import pandas as pd  
import datetime as dt
import matplotlib.pyplot as plt

from sklearn.cluster import (KMeans, MiniBatchKMeans, AgglomerativeClustering, DBSCAN)
from sklearn.neighbors import NearestNeighbors

In [5]:
feature_names_list = ['mom1m','absacc','acc','aeavol','age','agr','baspread',
'beta','betasq','bm','bm_ia','cash','cashdebt','cashpr','cfp','cfp_ia',
'chatoia','chcsho','chempia','chinv','chmom','chpmia','chtx','cinvest',
'convind','currat','depr','divi','divo','dolvol','dy','ear','egr','ep',
'gma','herf','hire','idiovol','ill','indmom','invest','lev','lgr','maxret',
'ms','mve_ia','mvel1','nincr','operprof','pchcapx_ia','pchcurrat','pchdepr',
'pchgm_pchsale','pchquick','pchsale_pchrect','pctacc','pricedelay',
'ps','quick','rd','retvol','roaq','roeq','roic','rsup','salecash',
'salerec','securedind','sgr','sin','sp','std_dolvol','std_turn',
'tang','tb','turn','zerotrade']

mom_names_list = ["mom1m","mom2m","mom3m","mom4m","mom5m","mom6m","mom7m","mom8m","mom9m","mom10m","mom11m","mom12m",
                "mom13m","mom14m","mom15m","mom16m","mom17m","mom18m","mom19m","mom20m","mom21m","mom22m","mom23m","mom24m",
                "mom25m","mom26m","mom27m","mom28m","mom29m","mom30m","mom31m","mom32m","mom33m","mom34m","mom35m","mom36m",
                "mom37m","mom38m","mom39m","mom40m","mom41m","mom42m","mom43m","mom44m","mom45m","mom46m","mom47m","mom48m"]

feature_names_list_full =  feature_names_list + mom_names_list[1:]

PCA_components_number = len(feature_names_list_full)
PCA_components_column_names = ['PCA '+ str(i+1) for i in range(PCA_components_number)]
PCA_components_tresholds_column_names=['n_to_reach_90','n_to_reach_95','n_to_reach_99']
Original_df_columns_names = ['DATE','permno','sic2']
PCA_table_full_columns_names = Original_df_columns_names+PCA_components_column_names+PCA_components_tresholds_column_names
Agglomerative_column_names = ['cluster alpha='+ str(i) for i in range(10,100,10)]

In [3]:
df_PCA = pd.read_csv('D:/USB Drive/Data/DachengXiu/df_PCA_done.csv')

In [4]:
#inicilize df for Agglomerative - make empty df
#initial dataframe
df_Agglomerative=pd.DataFrame(columns=Original_df_columns_names + Agglomerative_column_names)
dates = sorted(df_PCA['DATE'].unique())
for date in dates:
    print("DATE ",date)
    #date = 19791231
    df_Agglomerative_window = df_PCA[df_PCA['DATE'] == date].sort_values('permno')

    #list of column names of PCA components needed to explain 99% of variance
    number_of_PCA_components_for_99_variance_explainability =  df_Agglomerative_window['n_to_reach_99'].min()
    PCA_components_for_99_variance_explainability_column_names = ['PCA '+ str(i+1) for i in range(number_of_PCA_components_for_99_variance_explainability)]

    # Create an instance of the class NearestNeighbors and fit the model
    #So we have to add 1 since 0 position in distances is 0
    n_neighbors = 1 + 1 
    #that l1 norm provides more significant and meaningful clustering results for high-dimensional datasets, we choose l1 norm as the distance metric.
    nn_model    = NearestNeighbors(n_neighbors=n_neighbors, metric='l1')
    nn_model_fited   = nn_model.fit(df_Agglomerative_window[PCA_components_for_99_variance_explainability_column_names])

    # Calcuate average distances to n_neighbors
    distances, indices = nn_model_fited.kneighbors(df_Agglomerative_window[PCA_components_for_99_variance_explainability_column_names])

    for alpha in range(10,100,10):
        #we use alpha from 10 - 90
        #epsilon is set as an α percentile of the distances between a pair of nearest data points.
        distance_of_alpha_percentile = np.percentile(distances[:,1], alpha)

        # Create an instance of the class AgglomerativeClustering and fit the model
        hca_model = AgglomerativeClustering(linkage='average', 
                                            distance_threshold=distance_of_alpha_percentile, metric='l1',
                                            n_clusters=None)
        hca_model.fit(df_Agglomerative_window[PCA_components_for_99_variance_explainability_column_names])
        
        #determine cluster lables and fill data to df
        df_Agglomerative_window[f'cluster alpha={alpha}'] = hca_model.labels_

    df_Agglomerative=pd.concat([df_Agglomerative,df_Agglomerative_window],axis=0)
df_Agglomerative = df_Agglomerative[Original_df_columns_names+Agglomerative_column_names]

DATE  19791231
DATE  19800131
DATE  19800229
DATE  19800331
DATE  19800430
DATE  19800530
DATE  19800630
DATE  19800731
DATE  19800829
DATE  19800930
DATE  19801031
DATE  19801128
DATE  19801231
DATE  19810130
DATE  19810227
DATE  19810331
DATE  19810430
DATE  19810529
DATE  19810630
DATE  19810731
DATE  19810831
DATE  19810930
DATE  19811030
DATE  19811130
DATE  19811231
DATE  19820129
DATE  19820226
DATE  19820331
DATE  19820430
DATE  19820528
DATE  19820630
DATE  19820730
DATE  19820831
DATE  19820930
DATE  19821029
DATE  19821130
DATE  19821231
DATE  19830131
DATE  19830228
DATE  19830331
DATE  19830429
DATE  19830531
DATE  19830630
DATE  19830729
DATE  19830831
DATE  19830930
DATE  19831031
DATE  19831130
DATE  19831230
DATE  19840131
DATE  19840229
DATE  19840330
DATE  19840430
DATE  19840531
DATE  19840629
DATE  19840731
DATE  19840831
DATE  19840928
DATE  19841031
DATE  19841130
DATE  19841231
DATE  19850131
DATE  19850228
DATE  19850329
DATE  19850430
DATE  19850531
DATE  19850628
DATE  19850731
DATE  19850830
DATE  19850930
DATE  19851031
DATE  19851129
DATE  19851231
DATE  19860131
DATE  19860228
DATE  19860331
DATE  19860430
DATE  19860530
DATE  19860630
DATE  19860731
DATE  19860829
DATE  19860930
DATE  19861031
DATE  19861128
DATE  19861231
DATE  19870130
DATE  19870227
DATE  19870331
DATE  19870430
DATE  19870529
DATE  19870630
DATE  19870731
DATE  19870831
DATE  19870930
DATE  19871030
DATE  19871130
DATE  19871231
DATE  19880129
DATE  19880229
DATE  19880331
DATE  19880429
DATE  19880531
DATE  19880630
DATE  19880729
DATE  19880831
DATE  19880930
DATE  19881031
DATE  19881130
DATE  19881230
DATE  19890131
DATE  19890228
DATE  19890331
DATE  19890428
DATE  19890531
DATE  19890630
DATE  19890731
DATE  19890831
DATE  19890929
DATE  19891031
DATE  19891130
DATE  19891229
DATE  19900131
DATE  19900228
DATE  19900330
DATE  19900430
DATE  19900531
DATE  19900629
DATE  19900731
DATE  19900831
DATE  19900928
DATE  19901031
DATE  19901130
DATE  19901231
DATE  19910131
DATE  19910228
DATE  19910328
DATE  19910430
DATE  19910531
DATE  19910628
DATE  19910731
DATE  19910830
DATE  19910930
DATE  19911031
DATE  19911129
DATE  19911231
DATE  19920131
DATE  19920228
DATE  19920331
DATE  19920430
DATE  19920529
DATE  19920630
DATE  19920731
DATE  19920831
DATE  19920930
DATE  19921030
DATE  19921130
DATE  19921231
DATE  19930129
DATE  19930226
DATE  19930331
DATE  19930430
DATE  19930528
DATE  19930630
DATE  19930730
DATE  19930831
DATE  19930930
DATE  19931029
DATE  19931130
DATE  19931231
DATE  19940131
DATE  19940228
DATE  19940331
DATE  19940429
DATE  19940531
DATE  19940630
DATE  19940729
DATE  19940831
DATE  19940930
DATE  19941031
DATE  19941130
DATE  19941230
DATE  19950131
DATE  19950228
DATE  19950331
DATE  19950428
DATE  19950531
DATE  19950630
DATE  19950731
DATE  19950831
DATE  19950929
DATE  19951031
DATE  19951130
DATE  19951229
DATE  19960131
DATE  19960229
DATE  19960329
DATE  19960430
DATE  19960531
DATE  19960628
DATE  19960731
DATE  19960830
DATE  19960930
DATE  19961031
DATE  19961129
DATE  19961231
DATE  19970131
DATE  19970228
DATE  19970331
DATE  19970430
DATE  19970530
DATE  19970630
DATE  19970731
DATE  19970829
DATE  19970930
DATE  19971031
DATE  19971128
DATE  19971231
DATE  19980130
DATE  19980227
DATE  19980331
DATE  19980430
DATE  19980529
DATE  19980630
DATE  19980731
DATE  19980831
DATE  19980930
DATE  19981030
DATE  19981130
DATE  19981231
DATE  19990129
DATE  19990226
DATE  19990331
DATE  19990430
DATE  19990528
DATE  19990630
DATE  19990730
DATE  19990831
DATE  19990930
DATE  19991029
DATE  19991130
DATE  19991231
DATE  20000131
DATE  20000229
DATE  20000331
DATE  20000428
DATE  20000531
DATE  20000630
DATE  20000731
DATE  20000831
DATE  20000929
DATE  20001031
DATE  20001130
DATE  20001229
DATE  20010131
DATE  20010228
DATE  20010330
DATE  20010430
DATE  20010531
DATE  20010629
DATE  20010731
DATE  20010831
DATE  20010928
DATE  20011031
DATE  20011130
DATE  20011231
DATE  20020131
DATE  20020228
DATE  20020328
DATE  20020430
DATE  20020531
DATE  20020628
DATE  20020731
DATE  20020830
DATE  20020930
DATE  20021031
DATE  20021129
DATE  20021231
DATE  20030131
DATE  20030228
DATE  20030331
DATE  20030430
DATE  20030530
DATE  20030630
DATE  20030731
DATE  20030829
DATE  20030930
DATE  20031031
DATE  20031128
DATE  20031231
DATE  20040130
DATE  20040227
DATE  20040331
DATE  20040430
DATE  20040528
DATE  20040630
DATE  20040730
DATE  20040831
DATE  20040930
DATE  20041029
DATE  20041130
DATE  20041231
DATE  20050131
DATE  20050228
DATE  20050331
DATE  20050429
DATE  20050531
DATE  20050630
DATE  20050729
DATE  20050831
DATE  20050930
DATE  20051031
DATE  20051130
DATE  20051230
DATE  20060131
DATE  20060228
DATE  20060331
DATE  20060428
DATE  20060531
DATE  20060630
DATE  20060731
DATE  20060831
DATE  20060929
DATE  20061031
DATE  20061130
DATE  20061229
DATE  20070131
DATE  20070228
DATE  20070330
DATE  20070430
DATE  20070531
DATE  20070629
DATE  20070731
DATE  20070831
DATE  20070928
DATE  20071031
DATE  20071130
DATE  20071231
DATE  20080131
DATE  20080229
DATE  20080331
DATE  20080430
DATE  20080530
DATE  20080630
DATE  20080731
DATE  20080829
DATE  20080930
DATE  20081031
DATE  20081128
DATE  20081231
DATE  20090130
DATE  20090227
DATE  20090331
DATE  20090430
DATE  20090529
DATE  20090630
DATE  20090731
DATE  20090831
DATE  20090930
DATE  20091030
DATE  20091130
DATE  20091231
DATE  20100129
DATE  20100226
DATE  20100331
DATE  20100430
DATE  20100528
DATE  20100630
DATE  20100730
DATE  20100831
DATE  20100930
DATE  20101029
DATE  20101130
DATE  20101231
DATE  20110131
DATE  20110228
DATE  20110331
DATE  20110429
DATE  20110531
DATE  20110630
DATE  20110729
DATE  20110831
DATE  20110930
DATE  20111031
DATE  20111130
DATE  20111230
DATE  20120131
DATE  20120229
DATE  20120330
DATE  20120430
DATE  20120531
DATE  20120629
DATE  20120731
DATE  20120831
DATE  20120928
DATE  20121031
DATE  20121130
DATE  20121231
DATE  20130131
DATE  20130228
DATE  20130328
DATE  20130430
DATE  20130531
DATE  20130628
DATE  20130731
DATE  20130830
DATE  20130930
DATE  20131031
DATE  20131129
DATE  20131231
DATE  20140131
DATE  20140228
DATE  20140331
DATE  20140430
DATE  20140530
DATE  20140630
DATE  20140731
DATE  20140829
DATE  20140930
DATE  20141031
DATE  20141128
DATE  20141231
DATE  20150130
DATE  20150227
DATE  20150331
DATE  20150430
DATE  20150529
DATE  20150630
DATE  20150731
DATE  20150831
DATE  20150930
DATE  20151030
DATE  20151130
DATE  20151231
DATE  20160129
DATE  20160229
DATE  20160331
DATE  20160429
DATE  20160531
DATE  20160630
DATE  20160729
DATE  20160831
DATE  20160930
DATE  20161031
DATE  20161130
DATE  20161230
DATE  20170131
DATE  20170228
DATE  20170331
DATE  20170428
DATE  20170531
DATE  20170630
DATE  20170731
DATE  20170831
DATE  20170929
DATE  20171031
DATE  20171130
DATE  20171229
DATE  20180131
DATE  20180228
DATE  20180329
DATE  20180430
DATE  20180531
DATE  20180629
DATE  20180731
DATE  20180831
DATE  20180928
DATE  20181031
DATE  20181130
DATE  20181231
DATE  20190131
DATE  20190228
DATE  20190329
DATE  20190430
DATE  20190531
DATE  20190628
DATE  20190731
DATE  20190830
DATE  20190930
DATE  20191031
DATE  20191129
DATE  20191231
DATE  20200131
DATE  20200228
DATE  20200331
DATE  20200430
DATE  20200529
DATE  20200630
DATE  20200731
DATE  20200831
DATE  20200930
DATE  20201030
DATE  20201130
DATE  20201231
DATE  20210129
DATE  20210226
DATE  20210331
DATE  20210430
DATE  20210528
DATE  20210630
DATE  20210730
DATE  20210831
DATE  20210930
DATE  20211029
DATE  20211130
DATE  20211231

In [5]:
#df_Agglomerative.to_csv('D:/USB Drive/Data/DachengXiu/df_Agglomerative.csv')

Analysis:

In [6]:
df_Agglomerative = pd.read_csv('D:/USB Drive/Data/DachengXiu/df_Agglomerative.csv')

In [7]:
df_1990_2000 = df_Agglomerative[(df_Agglomerative['DATE'] > 19891231 ) & (df_Agglomerative['DATE'] < 20210101)]

In [14]:
#Number of clusters 188
(df_1990_2000.groupby(['DATE','cluster alpha=30']).count() > 1)['permno'].sum()/372
#219.69623655913978

219.69623655913978

In [15]:
#Number of stocks in total 3157
df_1990_2000.groupby(['DATE'])['permno'].count().mean()
#3286.5779569892475

3286.5779569892475

In [91]:
#Number of stocks in clusters 769 (24.58)
(df_1990_2000.groupby(['DATE','cluster alpha=30']).count() )['permno'].pipe(lambda  dfx: dfx.loc[dfx>1]).sum()/372
#798.1451612903226

798.1451612903226

In [92]:
#Number of outliers 2388 (75.42)
(df_1990_2000.groupby(['DATE','cluster alpha=30']).count() )['permno'].pipe(lambda  dfx: dfx.loc[dfx==1]).sum()/372
#2488.4327956989246

2488.4327956989246

In [219]:
#Number of stocks in the biggest cluster 107 (13.72)
df = (df_1990_2000.groupby(['DATE','cluster alpha=30']).count() )['permno'].pipe(lambda  dfx: dfx.loc[dfx>1])
df = df.to_frame('number_in_cluster')
mean1st = df.groupby('DATE').max().sum()/372
mean1st
#101.811828

number_in_cluster    101.811828
dtype: float64

In [221]:
#Number of stocks in the second biggest cluster 47 (6.09)
df = (df_1990_2000.groupby(['DATE','cluster alpha=30']).count() )['permno'].pipe(lambda  dfx: dfx.loc[dfx>1])
df = df.to_frame('number_in_cluster')
mean2nd = df.sort_values(['DATE','number_in_cluster'],ascending=False).groupby('DATE').head(2).mean()*2 - mean1st
mean2nd
#41.865591

number_in_cluster    41.865591
dtype: float64

In [222]:
#Number of stocks in the third biggest cluster 29 (3.74)
df = (df_1990_2000.groupby(['DATE','cluster alpha=30']).count() )['permno'].pipe(lambda  dfx: dfx.loc[dfx>1])
df = df.to_frame('number_in_cluster')
mean3rd = df.sort_values(['DATE','number_in_cluster'],ascending=False).groupby('DATE').head(3).mean()*3 - mean1st - mean2nd
mean3rd
#24.22043

number_in_cluster    24.22043
dtype: float64

In [8]:
df_clustering_results_comparation_with_paper_results = pd.read_csv('D:/USB Drive/Data/DachengXiu/Poredjenje.csv')

In [10]:
df_clustering_results_comparation_with_paper_results.T

,0,1,2,3,4,5,6,7
Unnamed: 0,NaN,Number of clusters,Number of stocks in total,Number of stocks in clusters,Number of outliers 1900,Number of stocks in the biggest cluster,Number of stocks in the second biggest cluster,Number of stocks in the third biggest cluster
k-means,paper,129,3157,1257,1900,63,51,45
k=500,moji,218,3286,1990,1296,67,56,50
DBSCAN,paper,2,3157,376,2781,336,32,6
alpha=10,moji,1.54,3286,429,2847,420,19,9
Agglomerative,paper,188,3157,769,2388,107,47,29
alpha=30,moji,220,3286,798,2488,102,42,24